/*
	File Overview:	Global SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/* Global variables */
/* line 25, ../scss/partials/_base.scss */
body, html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/
/* line 6, ../scss/partials/_structure.scss */
html {
  min-height: 100%;
  margin-bottom: 1px;
}

/* line 15, ../scss/partials/_structure.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 19, ../scss/partials/_structure.scss */
.group {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 23, ../scss/partials/_structure.scss */
.container, .span12 {
  width: 1200px;
}

/* line 1, ../scss/partials/_live.scss */
.nomargin {
  margin-left: 0px;
}

/* line 5, ../scss/partials/_live.scss */
#queries {
  margin-bottom: 40px;
}

/* line 9, ../scss/partials/_live.scss */
#button-query {
  margin-top: -4px;
}

/* line 14, ../scss/partials/_live.scss */
.span-grouping.disabled {
  opacity: 0.15;
}
/* line 16, ../scss/partials/_live.scss */
.span-grouping.disabled h4 {
  opacity: 0;
}

/* line 22, ../scss/partials/_live.scss */
#results {
  position: relative;
}

/* line 26, ../scss/partials/_live.scss */
#results-preloader {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

/* line 4, ../scss/partials/_visualizations.scss */
#chart-timelegend .axis path {
  fill: none;
}
/* line 8, ../scss/partials/_visualizations.scss */
#chart-timelegend .axis.y .tick line {
  display: none;
}
/* line 13, ../scss/partials/_visualizations.scss */
#chart-timelegend .axis line {
  stroke: black;
}
/* line 17, ../scss/partials/_visualizations.scss */
#chart-timelegend .line {
  fill: none;
  stroke-width: 2px;
  stroke-dasharray: 5, 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* line 26, ../scss/partials/_visualizations.scss */
#chart-legend {
  position: relative;
  text-align: center;
  background-color: #fcfcfc;
  border-top: 1px solid #eee;
}
/* line 32, ../scss/partials/_visualizations.scss */
#chart-legend svg {
  margin-right: 10px;
}
/* line 36, ../scss/partials/_visualizations.scss */
#chart-legend .labl, #chart-legend .entry {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
  margin-right: 35px;
}

/* line 49, ../scss/partials/_visualizations.scss */
.strip {
  border-bottom: 1px solid #f3f3f3;
  cursor: pointer;
}
/* line 53, ../scss/partials/_visualizations.scss */
.strip:hover {
  background-color: #fcfcfc;
}
/* line 57, ../scss/partials/_visualizations.scss */
.strip .separator {
  height: 100%;
  width: 1px;
  background: #f3f3f3;
  vertical-align: top;
}
/* line 65, ../scss/partials/_visualizations.scss */
.strip .strip-info,
.strip .strip-content {
  display: inline-block;
  height: 60px;
  vertical-align: top;
}
/* line 69, ../scss/partials/_visualizations.scss */
.strip .strip-info div,
.strip .strip-content div {
  display: inline-block;
}
/* line 74, ../scss/partials/_visualizations.scss */
.strip .strip-info {
  width: 250px;
  font-size: 16px;
}
/* line 79, ../scss/partials/_visualizations.scss */
.strip .strip-info .strip-name,
.strip .strip-info .strip-value {
  margin-top: 20px;
}
/* line 83, ../scss/partials/_visualizations.scss */
.strip .strip-info .strip-name {
  margin-left: 10px;
  width: 80px;
}
/* line 88, ../scss/partials/_visualizations.scss */
.strip .strip-info .strip-value {
  width: 40px;
  text-align: center;
}
/* line 94, ../scss/partials/_visualizations.scss */
.strip .strip-content {
  width: 930px;
}
/* line 98, ../scss/partials/_visualizations.scss */
.strip img {
  margin-top: 5px;
  margin-left: 2px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
/* line 106, ../scss/partials/_visualizations.scss */
.strip .subsection {
  height: 50px;
}
