/*
	File Overview:	Global SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/* line 27, ../scss/partials/_base.scss */
body, html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/
/* line 6, ../scss/partials/_structure.scss */
html {
  min-height: 100%;
  margin-bottom: 1px;
}

/* line 11, ../scss/partials/_structure.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fcf7ea;
}

/* line 16, ../scss/partials/_structure.scss */
.group {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, ../scss/partials/_structure.scss */
.container, .span12 {
  width: 940px;
}

/*
	File Overview:	live SCSS
	Author: Ivan DiLernia <ivan@goinvo.com>
	Description: Includes styles for various page components
*/
/* line 7, ../scss/partials/_live.scss */
#logo {
  display: inline-block;
}
/* line 11, ../scss/partials/_live.scss */
#logo img {
  margin: 0px 8px 0px 3px;
}
/* line 16, ../scss/partials/_live.scss */
#logo:before, #logo:after {
  content: '';
  border-bottom: solid 1px black;
  display: inline-block;
  height: 10px;
  width: 380px;
}

/* line 26, ../scss/partials/_live.scss */
.container {
  opacity: 0;
}

/* line 30, ../scss/partials/_live.scss */
#results-preloader {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  text-align: center;
}

/*
*	Studio scores and data summary
*/
/* line 43, ../scss/partials/_live.scss */
#results-summary canvas, #results-summary div {
  display: inline-block;
  vertical-align: top;
}
/* line 48, ../scss/partials/_live.scss */
#results-summary canvas {
  margin-top: -20px;
}

/* line 53, ../scss/partials/_live.scss */
#summary-score {
  text-align: center;
  position: relative;
}
/* line 57, ../scss/partials/_live.scss */
#summary-score .score {
  margin-top: 20px;
  font-size: 300px;
  line-height: 300px;
}
/* line 63, ../scss/partials/_live.scss */
#summary-score .legend {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 150px;
  height: 150px;
}
/* line 70, ../scss/partials/_live.scss */
#summary-score .legend .text {
  position: absolute;
  text-align: right;
  top: 50%;
  width: 80px;
  font-size: 32px;
  line-height: 32px;
}

/*
*	'Invoites' divider
*/
/* line 87, ../scss/partials/_live.scss */
#invoites div {
  display: inline-block;
  margin: 0px 9px 0px 9px;
}
/* line 93, ../scss/partials/_live.scss */
#invoites:before, #invoites:after {
  content: '';
  border-bottom: solid 1px black;
  display: inline-block;
  width: 425px;
  position: relative;
  top: -3px;
}

/* line 103, ../scss/partials/_live.scss */
.row-wrap {
  padding: 25px 0 25px 0;
  clear: both;
}

/* line 109, ../scss/partials/_live.scss */
hr {
  border-top: solid 1px #bbbbbb;
}

/*
*	Footer
*/
/* line 117, ../scss/partials/_live.scss */
.footer {
  text-align: center;
}
/* line 120, ../scss/partials/_live.scss */
.footer a, .footer span {
  color: black;
}
/* line 124, ../scss/partials/_live.scss */
.footer a {
  text-decoration: underline;
}

/*
	File Overview:	live SCSS
	Author: Ivan DiLernia <ivan@goinvo.com>
	Description: Includes styles for user blocks
*/
/*
*	Strip containing viz
*/
/* line 10, ../scss/partials/_eventchart.scss */
.strip {
  border-bottom: 1px solid #ddd;
}
/* line 13, ../scss/partials/_eventchart.scss */
.strip:last-child {
  border-bottom: 0;
}
/* line 17, ../scss/partials/_eventchart.scss */
.strip .separator {
  height: 100%;
  width: 1px;
  vertical-align: top;
}
/* line 24, ../scss/partials/_eventchart.scss */
.strip .strip-info,
.strip .strip-content {
  display: inline-block;
  height: 60px;
  vertical-align: top;
}
/* line 28, ../scss/partials/_eventchart.scss */
.strip .strip-info div,
.strip .strip-content div {
  display: inline-block;
}
/* line 36, ../scss/partials/_eventchart.scss */
.strip .strip-info .strip-name,
.strip .strip-info .strip-value {
  margin-top: 20px;
}
/* line 40, ../scss/partials/_eventchart.scss */
.strip .strip-info .strip-name {
  margin-left: 10px;
  width: 160px;
}
/* line 45, ../scss/partials/_eventchart.scss */
.strip .strip-info .strip-value {
  width: 80px;
  text-align: center;
}
/* line 51, ../scss/partials/_eventchart.scss */
.strip .strip-content {
  width: 620px;
}
/* line 55, ../scss/partials/_eventchart.scss */
.strip img {
  margin-top: 5px;
  margin-left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
/* line 63, ../scss/partials/_eventchart.scss */
.strip .subsection {
  height: 50px;
}

/*
*	Time legend styles
*/
/* line 73, ../scss/partials/_eventchart.scss */
.timelegend .axis path {
  fill: none;
}
/* line 77, ../scss/partials/_eventchart.scss */
.timelegend .axis.y .tick line {
  display: none;
}
/* line 82, ../scss/partials/_eventchart.scss */
.timelegend .axis line {
  stroke: #ccc;
}
/* line 86, ../scss/partials/_eventchart.scss */
.timelegend .line {
  fill: none;
  stroke-width: 2px;
  stroke-dasharray: 5, 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* line 96, ../scss/partials/_eventchart.scss */
.data circle {
  cursor: pointer;
  fill-opacity: 0.3;
  stroke-opacity: 0.45;
}
/* line 100, ../scss/partials/_eventchart.scss */
.data circle:hover {
  fill-opacity: 0.8;
}

/*
	File Overview:	live SCSS
	Author: Ivan DiLernia <ivan@goinvo.com>
	Description: Includes styles for user blocks
*/
/* line 7, ../scss/partials/_user.scss */
.user {
  cursor: pointer;
  border-radius: 8px;
}
/* line 12, ../scss/partials/_user.scss */
.user:hover, .user.active {
  background: white;
}
/* line 15, ../scss/partials/_user.scss */
.user:hover .user-stats, .user.active .user-stats {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 25, ../scss/partials/_user.scss */
.user div {
  text-align: center;
}
/* line 29, ../scss/partials/_user.scss */
.user .user-stats {
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 41, ../scss/partials/_user.scss */
.user .user-icon img {
  border-radius: 5px;
  text-align: center;
  margin-top: -30px;
  width: 70px;
}
/* line 49, ../scss/partials/_user.scss */
.user .user-name {
  margin-top: 25px;
  margin-bottom: 15px;
}

/* line 55, ../scss/partials/_user.scss */
.user-details {
  display: none;
  margin-top: 20px;
}
