/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/

/* Compass global imports */
@import "compass/css3";
@import "compass/reset/utilities";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";

/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
$experimental-support-for-opera:		false;
$experimental-support-for-mozilla:		false;
$experimental-support-for-khtml:		false;

$font-normal: 16px;

$gray: #bbb;
$light-gray: #f5f5f5;
$light-blue: #f4faff;
$light-yellow: rgb(252,247,234);


body, html{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: $font-normal
}

