.nomargin{
	margin-left: 0px;
}

#results{
	position: relative;
}

#results-content{
	opacity: 0;
}

#results-summary{
	canvas, div{
		display: inline-block;
		vertical-align: top;
	}
}

#summary-score{
	text-align: center;
	position: relative;

	.score{
		margin-top: 20px;
		font-size: 300px;
		line-height: 300px;
	}

	.legend{
		position: absolute;
		bottom: 0;
		right: 30px;
		width: 150px;
		height: 150px;

		.text{
			position: absolute;
			text-align: right;
			top: 50%;
			width: 80px;
			font-size: 32px;
			line-height: 32px;
		}
	}

}

#results-preloader{
	position: absolute;
	width:100%;
	top: 0;
	left: 0;
	text-align: center;
}

.row-wrap{
	margin-bottom: 30px;
	border-bottom: 1px solid #f3f3f3;
	clear: both;
}

.user{
	
	cursor: pointer;
	border-radius: 10px;

	&:hover, &.active{
		background: $light-gray;
		//@include transition(background 0.15s ease-in);
	}

	div{
		text-align: center;
	}

	.user-stats{
		width: 200px;
		margin: 0 auto;

	}

	.user-icon{
		img{
			border-radius: 5px;
			text-align: center;
			margin-top: -30px;
			width: 80px;
		}
	}

	.user-name{
		margin-top: 25px;
		margin-bottom: 15px;
	}
}

.user-details{
	display: none;
	margin-top: 20px;
}


