/*
	File Overview:	live SCSS
	Author: Ivan DiLernia <ivan@goinvo.com>
	Description: Includes styles for various page components
*/

#logo{

	display: inline-block;

	img{
		margin: 0px 8px 0px 3px;
	}

	&:before,
	&:after{
		content: '';
		border-bottom: solid 1px black;
		display: inline-block;
		height: 10px;
		width: 380px;
	}

}

.container{
	opacity: 0;
}

#results-preloader{
	position: absolute;
	width:100%;
	top: 40%;
	left: 0;
	text-align: center;
}

/*
*	Studio scores and data summary
*/

#results-summary{
	canvas, div{
		display: inline-block;
		vertical-align: top;
	}

	canvas{
		margin-top: -20px;
	}
}

#summary-score{
	text-align: center;
	position: relative;

	.score{
		margin-top: 20px;
		font-size: 300px;
		line-height: 300px;
	}

	.legend{
		position: absolute;
		bottom: 0;
		right: 30px;
		width: 150px;
		height: 150px;

		.text{
			position: absolute;
			text-align: right;
			top: 50%;
			width: 80px;
			font-size: 32px;
			line-height: 32px;
		}
	}
}

/*
*	'Invoites' divider
*/

#invoites{

	div{
		display: inline-block;
		margin: 0px 9px 0px 9px;
	}

	&:before,
	&:after{
		content: '';
		border-bottom: solid 1px black;
		display: inline-block;
		width: 425px;
		position: relative;
		top: -3px;
	}
}

.row-wrap{
	padding: 25px 0 25px 0;
	//border-bottom: 1px solid $gray;
	clear: both;
}

hr{
	border-top: solid 1px $gray;
}

/*
*	Footer
*/

.footer{
	text-align: center;
	

	a, span{
		color: black;
	}

	a{
		text-decoration: underline;
	}

	&:before,
	&:after{
		content: '';
		border-bottom: solid 1px black;
		display: inline-block;
		height: 5px;
		width: 300px;
		position: relative;
		top: -3px;
	}
}

