.nomargin{
	margin-left: 0px;
}

#queries{
	margin-bottom: 40px;
}

#button-query{
	margin-top: -4px;
}

.span-grouping{
	&.disabled{
		opacity: 0.15;
		h4{
			opacity: 0;
		}
	}
}

#results{
	position: relative;
}

#results-preloader{
	position: absolute;
	width:100%;
	top: 0;
	left: 0;
	text-align: center;
}