/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/

html {
	min-height: 100%;
	margin-bottom: 1px;
}

html, body{
		// background-color: #eee;
}

body {
	@include reset-box-model;
	// background-color: rgb(251,246,233);
	// background-image: url(/img/white_wall_hash.png);
}

.group {
	@include pie-clearfix;
}

.container, .span12{
	width: 940px;
}