$color-light-gray: #f3f3f3;

.timelegend{
	.axis path{
  		fill: none;
	}

	.axis.y .tick line{
		display: none;
	}


	.axis line{
		stroke: #cfcfcf;
	}

	.line{
		fill: none;
		stroke-width:2px;
		stroke-dasharray: 5, 5;
		stroke-linejoin: round;
		stroke-linecap: round;
	}
}

.data{
	circle{
		cursor: pointer;
		fill-opacity: 0.3;
		stroke-opacity: 0.45;
		&:hover{
			fill-opacity: 0.8;
		}
	}
}

// #chart-legend{
// 	position: relative;
// 	text-align: center;
// 	background-color: #fcfcfc;
// 	border-top: 1px solid #eee;

// 	svg{
// 		margin-right:10px;
// 	}

// 	.labl, .entry{
// 		display: inline-block;
// 		vertical-align: top;
// 		height: 50px;
// 		line-height: 50px;
// 		margin-right: 35px;
// 	}

// 	.entry{
// 		// @include box-sizing(border-box);
// 	}
// }

.strip{
	border-bottom: 1px solid $color-light-gray;

	&:last-child{
		border-bottom: 0;
	}

	.separator{
		height: 100%;
		width: 1px;
		vertical-align: top;
	}

	.strip-info,
	.strip-content{
		display: inline-block;
		height: 60px;
		vertical-align: top;
		div{
			display: inline-block;
		}
	}

	.strip-info{

		font-size: 16px;

		.strip-name,
		.strip-value{
			margin-top: 20px;
		}

		.strip-name{
			margin-left: 10px;
			width: 160px;
		}

		.strip-value{
			width: 80px;
			text-align: center;
		}
	}

	.strip-content{
		width: 620px;
	}

	img{
		margin-top: 5px;
		margin-left: 2px;
		width:30px;
		height: 30px;
		border-radius: 3px;
	}

	.subsection{
		height: 50px;
	}

}
