.nomargin{
	margin-left: 0px;
}

#queries{
	margin-bottom: 40px;
}

#visualizations{
	margin-top: 100px;
}

#button-query{
	margin-top: -4px;
}

.span-grouping{
	&.disabled{
		opacity: 0.15;
		h4{
			opacity: 0;
		}
	}
}